.form
  = form_for @handbook, :html => { :multipart => true }  do |f|

    .field
      = f.label :your_email, :for => 'handbook_email'
      .field-desc
        We won't use it in any way other than to send you the pdf.
      = f.text_field :email, 'data-extracts_cname_to' => 'handbook_name'
    .field
      = f.label :company_name, :for => 'handbook_name'
      .field-desc
        We'll only use it to personalize the pdf for you.
      = f.text_field :name
    .field
      = f.label :logo
      (optional, png or jpg)
      .field-desc
        As above, we'll only use it to personalize the pdf for you.
      = f.file_field :logo
    - if requires_captcha? request.remote_ip
      .field.captcha
        =f.label "Please prove you're human", :for => 'recaptcha_response_field'
        =recaptcha_tags

    -if @handbook.errors.any?
      .error#error_explanation
        %ul
          - @handbook.errors.full_messages.each do |msg|
            %li= msg

    .actions
      = f.submit 'SEND ME MY COMPANY HANDBOOK!', :class => 'generate'
