= form_for @photo, :html => { :multipart => true } do |f|
  -if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :order
    = f.text_field :order
  .field
    = f.label :logo_overlay
    = f.check_box :logo_overlay
  .field
    = f.label :image, :for => 'photo_data'
    = f.file_field :data
  .actions
    = f.submit 'Save'
