!!! 5
%html
  %head
    = csrf_meta_tag

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag 'html5'

    %title 'Welcome to the 100% FREE, Open Source Instant Company Handbook Generator Baked by Applicake'
  %body
    .container#container
      .header-wrapper
        .header
          = link_to image_tag('baked_by_applicake.png'), 'http://applicake.com'

      .wrapper
        - user_panel
        - alerts
        = yield
      #container_footer
    .footer#footer
      .footer-wrapper
        .container
          .top-logo
            =link_to image_tag('applicake_shadow.png'), 'http://applicake.com'
          .menu-items
            -applicake_menu
          
    = javascript_include_tag :defaults
